@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>

    <script src="~/Content/jQueryv3.6.2/jQuery_v3.6.2.js"></script>
    <link href="~/Content/Bootstrap5.2.3/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/Bootstrap5.2.3/js/bootstrap.js"></script>
    @*<link href="~/Content/fonts/fontawesome/css/fontawesome-all.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/plugins/animation/css/animate.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/DataTables/datatables.css" rel="stylesheet" />*@
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/toastr/toastr.css" rel="stylesheet" />
    <script src="~/Content/toastr/toastr.js"></script>
    <script src="~/Scripts/Validate/jquery.validate.js"></script>
    @*<script src="https://kit.fontawesome.com/03c49d4443.js" crossorigin ="anonymous"></script>*@
    <script src="~/Scripts/CambiarPassword/CambiarPassword.js"></script>
    <style>
        .error {
            color: #F00;
        }
    </style>

</head>

<body class="d-flex flex-column">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="align-items-start cols-1">
                    <b class="logo-lg">
                        <img src="~/Images/HSCP.png" height="70px" alt="logo">
                    </b>
                </div>
                <div class="align-items-end cols-1">
                    <div>
                        <b class="logo-lg">
                            <img src="~/Images/Consar.png" height="70px" alt="logo">
                        </b>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div id="login">

        <div class="auth-wrapper" style="min-height:fit-content">
            <div class="card">
                <div class="card-body text-center">
                    <form id="formCambiarPassword" class="form" action="@Url.Action("Index","Home")" method="post" autocomplete="off">
                        <div class="card-body text-center">
                            @*<h3>
                                    Sistema de Consulta de Información
                                    <br />  de Trabajadores.
                                </h3>*@
                            <h5 class="mb-4">Primer Inicio de Sesión <br />  debe cambiar la contraseña</h5>
                        </div>
                        <div class="form-row">
                            <div class="input-group mb-3">
                                <input type="password" id="txtCambiarPasswordUno" name="txtCambiarPasswordUno" class="form-control input_user" placeholder="Contraseña" maxlength="20">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="input-group mb-4">
                                <input type="password" id="txtCambiarPasswordDos" name="txtCambiarPasswordDos" class="form-control input_pass" placeholder="Contraseña" maxlength="20">

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="input-group mb-4" style="justify-content: center;">
                                <button type="button" id="btnCambiarPassword" name="button" onclick="cambiarPassword();" class="btn btn-info btn-md">Cambiar Contraseña</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div id="page-content">
        <div class="container text-center">
            <div class="row justify-content-center">

            </div>
        </div>
    </div>
    <footer id="sticky-footer" class="flex-shrink-0 bg-dark text-white-50">
        <div class="container text-center">
            <small style="font-size:small">
                Comisión Nacional del Sistema de Ahorro para el Retiro - Tablero de control 1.0- 2023<br />
                Camino a Santa Teresa # 1040 2o. piso Col. Jardines en la Montaña C.P. 14210 Delegación Tlalpan Ciudad de México.
            </small>
        </div>
    </footer>


    <input type="text" id="USUARIOSESION" value="@ViewData["USUARIOSESION"]" hidden />
    <input type="text" id="FQDN" value="@ViewData["FQDN"]" hidden />
    <input type="text" id="GUID" value="@ViewData["GUID"]" hidden />
</body>

</html>  