<script src="~/Content/jQueryv3.6.2/jQuery_v3.6.2.js"></script>
<script src="~/Content/DataTables/datatables.js"></script>
<script src="~/Content/Bootstrap5.2.3/js/bootstrap.js"></script>

<script src="~/Scripts/Entidad/EntidadJS.js"></script>
<link href="~/Content/DataTables/datatables.css" rel="stylesheet" />
@*<link href="~/Content/Bootstrap5.2.3/css/bootstrap.css" rel="stylesheet" />*@
@*<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">*@
<script src="~/Content/DataTables/DatatableTools.js"></script>

<link href="~/Content/toastr/toastr.css" rel="stylesheet" />
@*<link href="~/Content/Start/css/sb-admin-2.css" rel="stylesheet" />*@
<script src="~/Content/toastr/toastr.js"></script>
<script src="~/Scripts/Validate/jquery.validate.js"></script>
<script src="~/Scripts/Methods/additional-methods.min.js"></script>
<link href="~/Content/DataTables/DatatableTools.css" rel="stylesheet" />

<!-- [ Main Content ] start -->

<style>
    .error {
        color: #F00;
    }

    .selected {
        background-color: blue;
    }

    .error {
        font-size: 16px;
    }

    .custom-btn {
        cursor: pointer;
        margin-right: 5px;
    }

    /* div.dataTables_wrapper div.dataTables_filter {
            padding-top: 0.8em;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            padding-top: 0.8em;
        }*/

    /*    div.dataTables_wrapper div.dataTables_info {
            padding-top: 1.7em;
        }

        div.dataTables_wrapper div.dataTables_length {
            padding-top: 0.3em;
        } */

    /*div.dataTables_filter,
        div.dataTables_length {
            display: inline-block;
            margin-left: 15em;
        }
    */

    .left-col {
        float: left;
        width: 5%;
    }

    .center-col {
        float: left;
        width: 65%;
    }

    .right-col {
        float: left;
        width: 30%;
    }

    .centered {
        height: 90px;
        line-height: 90px;
        text-align: center;
        border: 2px dashed #f69c55;
    }
</style>




<!-- [ Main Content ] start -->
<div class="pcoded-main-container">



    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    @* <h5 class="m-b-10">Bootstrap Basic Tables</h5>*@
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i></a></li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- [ breadcrumb ] end -->
                <div class="main-body">


                    <div class="tab-content" id="pills-tabContent">
                       
                        <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">


                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ tabs ] start -->
                                <div class="col-sm-12">


                                    <!-- DataTales Example -->
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            @*<h6 class="m-0 font-weight-bold text-primary">Afores</h6>*@
                                           
                                        </div>
                                        <div>
                                            <!-- Button trigger modal -->

                                        </div>
                                        <div class="card-body centered">
                                            SICIT
                                        </div>
                                    </div>
                                </div>

                                <!-- [ tabs ] end -->
                            </div>
                          
                        </div>
                        
                    </div>

                    @*<div class="page-wrapper">







                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->




<input type="text" id="USUARIOSESION" value="@ViewData["USUARIOSESION"]" hidden />
<input type="text" id="FQDN" value="@ViewData["FQDN"]" hidden />
<input type="text" id="GUID" value="@ViewData["GUID"]" hidden />
