@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>

    @*<script src="~/Content/JQuery_v3.6.0/JQuery3.6.js"></script>*@
    <script src="~/Content/jQueryv3.6.2/jQuery_v3.6.2.js"></script>

    @*<link href="~/Content/bootstrap-4.6.2/css/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/Bootstrap5.2.3/css/bootstrap.css" rel="stylesheet" />

    @*<script src="~/Content/bootstrap-4.6.2/js/bootstrap.js"></script>*@
    <script src="~/Content/Bootstrap5.2.3/js/bootstrap.js"></script>

    <link href="~/Css/Acceso.css" rel="stylesheet" />

    @*<script src="https://kit.fontawesome.com/03c49d4443.js" crossorigin="anonymous"></script>*@

    @*<script src="~/Scripts/Acceso/Acceso.js"></script>*@
    <script src="~/Scripts/Login/Login.js"></script>

    @*<script src="~/Scripts/jquery.validate.min.js"></script>*@

    <link href="~/Content/fonts/fontawesome/css/fontawesome-all.min.css" rel="stylesheet" />



    <script src="~/Scripts/Validate/jquery.validate.js"></script>

    <link href="~/Content/toastr/toastr.css" rel="stylesheet" />
    <script src="~/Content/toastr/toastr.js"></script>

    <style>
        .error {
            color: #F00;
        }

        html,
        body {
            height: 100%;
        }

        #page-content {
            flex: 1 0 auto;
        }
    </style>

    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }
    </style>

    <style>
        img {
            width: 100%;
        }

        .height {
            height: 10px;
        }

        /* Image-container design */
        .image-container {
            max-width: 800px;
            position: relative;
            margin: auto;
        }

        .next {
            right: 0;
        }

        /* Next and previous icon design */
        .previous,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            padding: 10px;
            margin-top: -25px;
        }

        /* caption decorate */
        .captionText {
            color: #000000;
            font-size: 14px;
            position: absolute;
            padding: 12px 12px;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        /* Slider image number */
        .slideNumber {
            background-color: #5574C5;
            color: white;
            border-radius: 25px;
            right: 0;
            opacity: .5;
            margin: 5px;
            width: 30px;
            height: 30px;
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            position: absolute;
        }

        .fa {
            font-size: 32px;
        }

            .fa:hover {
                transform: rotate(360deg);
                transition: 1s;
                color: white;
            }

        .footerdot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbbbbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.5s ease;
        }

            .active,
            .footerdot:hover {
                background-color: black;
            }

        .carousel .carousel-item {
            max-height: 550px;
        }

        .carousel-item img {
            object-fit: cover;
            max-height: 550px;
        }
    </style>
</head>



<body class="d-flex flex-column">
    <div id="login">
        <br /> <br />

        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div align="center">
                    <img src="~/Images/Consar.png" style="height:120px;width:148px" alt="logo" />
                </div>
            </div>
        </div>

        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-5">
                    <div id="login-box" class="col-md-12" style="flex-grow:initial">
                        <form id="formSesion" name="formSesion" class="form" action="@Url.Action("Index","Home")" method="post" autocomplete="off">
                            <div style="height:15px"> </div>
                            <h3 class="text-center text-info">SICIT</h3>
                            <div style="height:10px"> </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" id="IdUser" name="IdUser" class="form-control input_user" placeholder="Usuario" maxlength="20">
                                </div>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" id="Password" name="Password" class="form-control input_pass" placeholder="Contraseña" maxlength="20">
                            </div>

                            @if (ViewData["Mensaje"] != null)
                            {
                                <div>
                                    <span class="error">   @ViewData["Mensaje"]</span>
                                </div>
                            }

                            <div class="d-flex justify-content-center mt-3 login_container">
                                <button type="button" value="submit" id="btnSesion" name="btnSesion" onclick="iniciarSesion();" class="btn btn-info btn-md">Iniciar Sesión</button>
                            </div>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page-content">
        <div class="container text-center">
            <div class="row justify-content-center">

            </div>
        </div>
    </div>
    <footer id="sticky-footer" class="flex-shrink-0 bg-dark text-white-50">
        <div class="container text-center">
            <small style="font-size:small">
                Comisión Nacional del Sistema de Ahorro para el Retiro - Sistema de Poderes y Convenios Versión 1.0- 2023<br />
                Camino a Santa Teresa # 1040 2o. piso Col. Jardines en la Montaña C.P. 14210 Delegación Tlalpan Ciudad de México.
            </small>
        </div>
    </footer>
</body>

</html>