@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>

    <script src="~/Content/jQueryv3.6.2/jQuery_v3.6.2.js"></script>

    <link href="~/Content/Bootstrap5.2.3/css/bootstrap.css" rel="stylesheet" />

    <script src="~/Content/Bootstrap5.2.3/js/bootstrap.js"></script>

    <link href="~/Css/Acceso.css" rel="stylesheet" />

    <script src="~/Scripts/Login/Login.js"></script>

    <link href="~/Content/fonts/fontawesome/css/fontawesome-all.min.css" rel="stylesheet" />



    <script src="~/Scripts/Validate/jquery.validate.js"></script>

    <link href="~/Content/toastr/toastr.css" rel="stylesheet" />
    <script src="~/Content/toastr/toastr.js"></script>

    <style type="text/css">
        .error {
            color: #F00;
        }

        html,
        body {
            height: 100%;
        }

        #page-content {
            flex: 1 0 auto;
        }

        footer {
            position: fixed;
            height: 60px;
            bottom: 0;
            width: 100%;
        }
    </style>

    <style>
        .carousel-indicators [data-bs-target] {
            background-color: #084298;
        }

        .carousel-control-next-icon {
            background-color: #084298;
            width: 57%;
        }

        .carousel-control-prev-icon {
            background-color: #084298;
            width: 57%;
        }

        .carousel-control-next {
            right: 45%;
        }

        .carousel-control-prev {
            left: 45%;
        }

        element.style {
            width: 12px;
        }


        table {
            font-family: arial, sans-serif;
            font-size: small;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 0px solid #dddddd;
            padding: 5px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>



<body class="d-flex flex-column">
    <div id="login">
        <br /> <br />

        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div align="center">
                    <img src="~/Images/Consar.png" style="height:120px;width:148px" alt="logo" />
                </div>
            </div>
        </div>

        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-5">
                    <div id="login-box" class="col-md-12" style="flex-grow:initial">
                        <form id="formSesion" name="formSesion" class="form" action="@Url.Action("Index","Home")" method="post" autocomplete="off">
                            <div style="height:15px"> </div>
                            <h3 class="text-center text-info">SICIT</h3>
                            <div style="height:10px"> </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" id="IdUser" name="IdUser" class="form-control input_user" placeholder="Usuario" maxlength="20">
                                </div>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" id="Password" name="Password" class="form-control input_pass" placeholder="Contraseña" maxlength="20">
                            </div>

                            @if (ViewData["Mensaje"] != null)
                            {
                                <div>
                                    <span class="error">   @ViewData["Mensaje"]</span>
                                </div>
                            }

                            <div class="d-flex justify-content-center mt-3 login_container">
                                <button type="button" value="submit" id="btnSesion" name="btnSesion" onclick="iniciarSesion();" class="btn btn-info btn-md">Iniciar Sesión</button>
                            </div>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div align="center">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators carousel-indicators" style="width:70%;max-height:5%">
                @* Variable Max para establecer posición vertical*@
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" style="width:7.5%">
                <div class="carousel-item active" data-bs-interval="2000">
                    <a href="#">
                        <img src="~/Images/ImagesTDC/Exclamation.png" class="d-block" alt="..." style="width:100px" data-bs-toggle="modal" data-bs-target="#ModalAcercaDe">
                    </a>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <a href="#">
                        <img src="~/Images/ImagesTDC/Book.png" class="d-block" alt="..." style="width:100px;height:93.27px" data-bs-toggle="modal" data-bs-target="#ModalEmbebido">
                    </a>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <a href="#">
                        <img src="~/Images/ImagesTDC/handHelp.png" class="d-block" alt="..." style="width:100px" data-bs-toggle="modal" data-bs-target="#ModalContacto">
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="width:20px">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="width:20px">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


    </div>

    <br />
    <footer id="sticky-footer" class="flex-shrink-0 bg-dark text-white-50">
        <div class="container text-center">
            <small style="font-size:small">
                Comisión Nacional del Sistema de Ahorro para el Retiro - Sistema de Poderes y Convenios Versión 1.0- 2023<br />
                Camino a Santa Teresa # 1040 2o. piso Col. Jardines en la Montaña C.P. 14210 Delegación Tlalpan Ciudad de México.
            </small>
        </div>
    </footer>
</body>

</html>


<!-- Modal AcercaDe-->
<div class="modal fade modal-lg" id="ModalAcercaDe" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Acerca de</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-left:40px;padding-right:40px">
                <p><b>Sistema de Consulta de Información de Trabajadores (SICIT)</b></p>
                <div style="text-align:justify">
                    Esta Comisión está desarrollando el sistema web denominado Sistema de Consultas de Información de los Trabajadores (SICIT), mediante el cual la JFCA tendrá la facultad de llevar a cabo consultas en línea de los trabajadores que así requiera, en donde dichas consultas se clasifican de dos tipos:
                    <br /><br />
                    <ul>
                        <li><b>Inmediatas;</b> es decir en el momento que se envía la petición segundos después obtendrá el resultado esperado en pantalla.</li>
                        <li><b>Históricas;</b> estas son definidas por consultas que  la Empresa Operadora de la Base de Datos Nacional del SAR, no podría dar en línea y se tardaría un tiempo, en resolver.</li>
                    </ul>

                    Para un mejor control sobre las consultas que se lleven a cabo en el SICIT, el sistema generará un número de folio por consulta.

                    <br /><br />

                    El sistema web (SICIT) radicará en un servidor de la Comisión y solo se habilitará a la JEFCA mediante una red privada virtual (VPN), en donde cabe aclarar que no será público y sólo podrán accesar con usuario y contraseña previamente definido por la CONSAR.

                    <br /><br />

                    Los usuarios y contraseñas, serán asignados por solicitud especifica dirigida al área Jurídica de esta comisión, y a su vez dicha área pedirá la petición por Solicitud a la DGI del alta de nuevos usuarios al sistema.

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Archivo Embebido-->
<div class="modal fade in" data-bs-backdrop="static" data-bs-keyboard="false" id="ModalEmbebido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <label id="lblTituloModal">Manual de Usuario SICIT</label>
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div id="divResultado" name="divResultado" style="text-align: left"></div>
                    <embed id="pdf" title="Archivo PDF" src="~/MANUAL/MANUAL USUARIO SICIT.pdf" frameborder="0" style="width:100%; height:400px">
                </div>

                <div style="text-align: right;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>


<!-- Modal Contacto-->
<div class="modal fade modal-lg" id="ModalContacto" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Contacto</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-left:40px;padding-right:40px">
                <p><b>Sistema de Consulta de Información de Trabajadores (SICIT)</b></p>

                <div>
                    <table border="0" align="center">
                        <tr>
                            <td colspan="2" align="center"><b>DIRECCIÓN GENERAL DE INFORMÁTICA</b></td>
                        </tr>
                        <tr>
                            <td><a href="mailto:">Ing. Carlos Maximiliano Huitrón Escamilla</a></td>
                            <td>Dirección General de Administración</td>
                        </tr>
                        <tr>
                            <td><a href="mailto:">Lic. Alberto Róldan Velasco Montesinos</a></td>
                            <td>Director de Desarrollo de Sistemas</td>
                        </tr>
                        <tr>
                            <td><a href="mailto:">Ing. Oscar Alberto Carillo Plata</a></td>
                            <td>Subdirector de Desarrollo de Sistemas</td>
                        </tr>
                    </table>
                    <br />
                    <table border="0" align="center">
                        <tr>
                            <td colspan="2" align="center"><b>DIRECCIÓN GENERAL ADJUNTA DE LO CONTENCIOSO</b></td>
                        </tr>
                        <tr>
                            <td><a href="mailto:">Lic. Claudia López Vázquez</a></td>
                            <td>Directora General Adjunta de lo Contencioso</td>
                        </tr>
                    </table>
                    <br />
                    <table border="0" align="center">
                        <tr>
                            <td colspan="3" align="center"><b>ATENCIÓN SICIT</b></td>
                        </tr>
                        <tr>
                            <td><a href="mailto:">Ing. Francisco Javier Carmona Váldovinos</a></td>
                            <td>Atención a SICIT</td>
                            <td>Tel. 3000-2561 Horario L-V 9:00-18:00 hrs.</td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>